/*ipad air 2: 768 x 1024 px*/

* {
	padding: 0;
	margin: 0;
}

#wrapper {
	border: 1px solid #dddddd;
	margin: auto;
	background-image: url('../image/background.png');
	background-size: cover;
	height: 679px;
	text-align: center;
}

.twd img {
	height: 32px;
	margin-top: 20px;
	margin-bottom: 7px;
}

.logo img {
	height: 120px;
}

.text-2 img {
	height: 80px;
}

.text-3 img {
	height: 63px;
	margin-top: -6px;
}

/* button */
a img {
	margin-top: 20px;
	height: 240px;
}

a img:hover {
	margin-top: 20px;
	height: 241px;
	transition-duration: 0.2s;
}

