#site-home {
    .item-custom {
        min-width: 300px;
        min-height: 390px;
        border-radius: 5px;
        border: 1px solid transparent;
        margin-top: 20px;

        .image {
            margin-top: 15px;
            width: 100%;
            text-align: center;
            img {
                width: 214px;
                height: 214px;
                //object-fit: cover;
            }
        }
        &:hover .image-product {
            width: 220px;
            height: 220px;
            transition-duration: 0.1s;
        }

        &:hover {
            border: 1px solid #dddddd;
            transition-duration: 0.1s;
        }

        .info {
            top: 226px;
            position: absolute;
            left: 23px;

            .discount {
                .val {
                    background: #cb1c22;
                    color: #fff;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    height: 24px;
                    border-radius: 4px;
                }
            }
            .name {
                font-size: 17px;
                font-weight: 700;
                line-height: normal;
                color: #474c51;
                margin-bottom: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                margin-top: 10px;
            }
            .price {
                display: flex;
                justify-content: space-between;

                width: 300px;

                align-items: center;
                .price-discount {
                    flex-basis: 130px;
                    padding-left: 15px;
                    //padding-right: 15px;
                    width: fit-content;
                    height: 28px;
                    border-radius: 15px;
                    background-color: #cb1c22;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    color: #fff;
                }
                .price-root {
                    text-decoration: line-through;
                    color: #919191;
                    font-size: 14px
                }
            }

            .config {
                width: 93%;
                min-height: 65px;
                background: #f8f9fa;
                border-radius: 7px;
                margin-top: 10px;
                padding: 5px;
                display: flex;
                flex-wrap: wrap;
                color: #6c757d;
            }
        }
    }
}

#site-detail {
    .name {
        font-weight: 500;
        color: #212529;
        font-size: 24px;
        line-height: 32px;
    }
    .price {
        font-weight: 500;
        color: #cb1c22;
        margin-right: 10px;
        font-size: 32px;
        line-height: 40px;
    }
    .price-discount {
        font-weight: 400;
        color: #99a2aa;
        font-size: 20px;
        line-height: 28px;
    }
    .config {
        margin-top: 20px;
        padding: 15px 20px 5px 20px;
        border-radius: 4px;
        border: solid 1px #e9ecef;
        background-color: #f8f9fa;
        display: flex;
        justify-content: space-between;

        .cf-item {
            margin-bottom: 15px;
            color: #8A8F94;
            font-size: 16px;
        }
    }

    .uu-dai {
        border-radius: 4px;
        border: solid 1px #e9ecef;
        background-color: #f8f9fa;
        margin-bottom: 16px;
        ul {
            padding-left: 15px;
        }
        .ud-item {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            img {
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }
    }

    .buy-now {
        height: 59px;
        width: 100%;
        color: #fff;
        background: #cb1c22;
        font-size: 18px;
        line-height: 14px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background: #ae1427;
            animation-duration: 0.2s;
        }
    }

    .description {
        img  {
            width: 100%;
        }
    }

}

#box-filter {
    padding: 10px;
    display: flex;
    .text-1 {
        color: #288ad6;
        input {
            margin-right: 15px;
        }
    }
}

.box-brand {
    display: flex;
    flex-wrap: wrap;

    .brand-item {
        height: 36px;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 52px;
        width: fit-content;
        margin: 0 10px 10px 0;

        img {
            height: 20px;
        }
    }
}

.header-bottom-2 {
    border-bottom: 1px solid #dddddd;
    padding: 10px;

    .navbar {
        margin-bottom: 0 !important;
        .dropdown-menu {
            li {
                a {
                    padding: 10px 10px;
                }
            }
        }
    }
}

#box-filter-2 {
    padding: 10px 0;

    //#modalFilter {
    //    .modal-dialog {
    //        max-width: 800px;
    //    }
    //}
}

.box-price {
    .price-item {

    }
}












